<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pagean Results</title>
	<style>
		:root {
			/* Default colors */
			--color-text-default: #333333;
			--color-background-data-hover: rgba(255 255 255 / 10%);
			--color-background-summary: #f4f4f4;
			--color-border-summary: #333333;

			/* Test result colors */
			--color-background-passed: #dff2bf;
			--color-text-passed: #44760f;
			--color-background-failed: #ffbaba;
			--color-text-failed: #ad000c;
			--color-background-warning: #fdec96;
			--color-text-warning: #7e6902;
			--color-background-page-error: #f6d5c0;
			--color-text-page-error: #994715;
		}

		html {
			margin: 0;
			padding: 0;
		}

		body {
			color: var(--color-text-default);
			font-family: system-ui, sans-serif;
			font-size: 0.85rem;
			margin: auto;
			max-inline-size: 1000px;
			padding: 1rem;
		}

		ul {
			margin-block: 0;
			margin-inline: 0;
			padding-block: 0;
			padding-inline: 0;
		}

		li {
			list-style: none;
		}

		h1 {
			margin-block: 0;
			margin-inline: 0;
		}

		h2 {
			font-size: 1rem;
		}

		.pre {
			font-family: monospace;
			white-space: pre-wrap;
		}

		.project,
		.started {
			margin: 0;
			padding-block-end: 0.5rem;
		}

		.test-summary {
			display: flex;
			flex-direction: row;
			margin-block-end: 2rem;
			max-inline-size: 75%;
		}

		.summary {
			background-color: var(--color-background-summary);
			border: 1px solid var(--color-border-summary);
			display: inline-block;
			flex: 1 1 10%;
			margin-block: 0;
			margin-inline: 0.25rem;
			padding-block: 0.25rem;
			padding-inline: 0.5rem;
		}

		.summary:first-of-type {
			margin-inline-start: 0;
		}

		.summary:last-of-type {
			margin-inline-end: 0;
		}

		.passed {
			background-color: var(--color-background-passed);
			border: 1px solid var(--color-text-passed);
			color: var(--color-text-passed);
		}

		.failed {
			background-color: var(--color-background-failed);
			border: 1px solid var(--color-text-failed);
			color: var(--color-text-failed);
		}

		.warning {
			background-color: var(--color-background-warning);
			border: 1px solid var(--color-text-warning);
			color: var(--color-text-warning);
		}

		.page-error {
			background-color: var(--color-background-page-error);
			border: 1px solid var(--color-text-page-error);
			color: var(--color-text-page-error);
		}

		.test-results h2 {
			margin-block: 1rem 0;
		}

		details summary .name::after,
		details[open] summary .name::after {
			content: "+";
			font-family: monospace;
			font-weight: bold;
			opacity: 0.8;
    		padding-inline-start: 0.5rem;
		}

		details[open] summary .name::after {
			content: "–";
		}

		summary {
			cursor: pointer;
			list-style: none;
		}

		summary::-webkit-details-marker {
			display: none;
		}

		li.test {
			margin-block: 0.25rem;
			margin-inline: 0;
			padding-block: 0.5rem;
			padding-inline: 1rem;
		}

		.test .header {
			display: flex;
			flex-direction: row;
		}

		.test .header .name {
			flex: 1 1 75%;
		}

		.test .header .result {
			flex: 1 1 25%;
			text-align: end;
		}

		.test .data,
		.test .time,
		.test .error {
			padding-inline-start: 0.75rem;
		}

		.test .data h3 {
			font-size: inherit;
			font-weight: normal;
			margin-block: 0;
			margin-inline: 0;
		}

		.test .data li {
			background-color: inherit;
			border-style: none;
			padding: 0.25rem;
		}

		.test .data li:hover {
			background-color: var(--color-background-data-hover);
			border: 1px dotted;
			border-inline-end: 4px solid;
			padding: calc(0.25rem - 1px);
		}

		.test .data .pre {
			margin-block: 0 0.25rem;
			margin-inline: 0;
		}

		.test .time {
			margin-block: 0.25rem 0;
			margin-inline: 0;
		}
	</style>
</head>

<body>
	<header>
		<h1 id="title">Pagean Results</h1>
	</header>
	<main>
		<h2 class="project">Project: {{project}}</h2>
		<section class="started">Started: {{executionStart}}</section>
		<section class="test-summary">
			<div class="summary">URLs: {{results.length}}</div>
			<div class="summary">Tests: {{summary.tests}}</div>
			<div class="summary passed">Passed: {{summary.passed}}</div>
			<div class="summary warning">Warning: {{summary.warning}}</div>
			<div class="summary failed">Failed: {{summary.failed}}</div>
			<div class="summary page-error">Page Errors: {{summary.pageError}}</div>
		</section>
		<section class="test-results">
			{{#results}}
			<h2>URL: {{url}}</h2>
			<ul class="tests">
				{{#if pageError}}
				<li class="test page-error">
					<div class="header">
						<div class="name">{{pageError}}</div>
						<div class="result">page error</div>
					</div>
				</li>
				{{/if}}
				{{#tests}}
				<li class="test {{result}}">
					{{#if data}}
					<details>
						<summary class="header" title="Show/hide details">
							<div class="name">{{name}}</div>
							<div class="result">{{result}}</div>
						</summary>
						{{#if data.length}}
						<div class="data">
							<h3>Messages:</h3>
							<ul>
								{{#each data}}
								<li>
									<div class="pre">{{json .}}</div>
								</li>
								{{/each}}
							</ul>
						</div>
						{{else if data.pageLoadTime}}
						<div class="time">Load time: {{data.pageLoadTime}}s</div>
						{{else if data.error}}
						<div class="error">
							<h3>Error:</h3>
							<div class="pre">{{json data.error}}</div>
						</div>
						{{/if}}
					</details>
					{{else}}
					<div class="header">
						<div class="name">{{name}}</div>
						<div class="result">{{result}}</div>
					</div>
					{{/if}}
				</li>
				{{/tests}}
			</ul>
			{{/results}}
		</section>
	</main>
</body>

</html>
